<!DOCTYPE html>
<html lang="en">

        <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="css/main.css" rel="stylesheet">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <title>Delodajalci</title>
                <style>    .title {
                    color: red;
                }

                .subtitle {
                    color: blue;
                }      
                </style>
        </head>


         <body>
        <br><br><br>

                    <section class="bg-primary text-light p-5">
                        <div class="container">
                            <div class="d-md-flex justify-content-between align-items-center">
                                <h2 class="mb-3 mb-md-0">Tukaj lahko POIŠČETE DELODAJLCA</h2>
                            </div>
                        </div>
                    </section>

                                <section class="p-5">
                                    <div class="container">
                                        <div class="row text-center g-4">
                                            <div class="col-md">
                                                <div class="card bg-dark text-light">
                                                    <div class="card-body text-center">
                                                        <div class="h1 mb-3">
                                                            <i class="bi bi-laptop"></i>
                                                        </div>
                                                    </div>
                                                    <h3 class="card-title mb-3">Na prvo stran</h3>
                                                    <p class="card-text"> Z izpolnitvijo spodnjega obrazca lahko 
                                                        brezplačno oddate svoj oglas. potrebno je pustiti le kontaktne podatke.
                                                        V primeru, da oglasa ne želite oddati, se lahko s spodnjo povezavo
                                                        vrnete na začetno stran.
                                                
                                                    </p>
                                                    <a href=index.html class="btn btn-primary">Domov</a>
                                                </div>
                                            </div>
                            
                                            
                                            <div class="col-md">
                                                <div class="card bg-secondary text-light">
                                                    <div class="card-body text-center">
                                                        <div class="h1 mb-3">
                                                            <i class="bi bi-person-square"></i>
                                                        </div>
                                                    </div>
                                                    <h3 class="card-title mb-3">Poišči oglase</h3>
                                                    <p class="card-text"> Na naši spletni strani lahko poiščete več željenih 
                                                        oglasov. Oddaja oglasov je popolnoma brezplačna.
                                                        Na spodnji povezavi lahko poiščete oglase primere za vas.  <br> <br>
                                                    </p>
                                                    <a href="isciOglas.html" class="btn btn-primary">Išči</a>
                                                </div>
                                            </div>
                                        
                                            </div>
                                        </div>            
                                </section>
<!--Tukaj se zane povezava z DELODAJALEC-->
                                            <section id="delo">
                                            <div class="container">
                                            <div class="container-fluid">
                            
                                             <table class="table table-hover table-dark">
                                             <thead>
                                             <tr>
                                                <th scope="col"><h4>ID</h4></th>
                                                <th scope="col"><h4>Ime Druzbe</h4></th>
                                                <th scope="col"><h4>Kraj</h4></th>
                                                <th scope="col"><h4>Opis</h4></th>
                                                <th scope="col"><h4>Delavno Mesto</h4></th>
                                                <th scope="col"><h4>Izobrazba</h4></th>
                                                <th scope="col"><h4>E-mail</h4></th>
                                                <th scope="col"><h4>Tel.</h4></th>
                                                <th scope="col"><h4>€/Uro</h4></th>
                                                <th scope="col"><h4>Možnosti</h4></th>
                                              </tr>
                                               </thead>
                                                    <tr v-for="delodajalec in delodajalci" v-on:click="populateRow(delodajalec)">
                                                    <td scope="col"><h4>{{delodajalec.did}}</h4></td>
                                                    <td scope="col"><h4>{{delodajalec.imeDruzbe}}</h4></td>
                                                    <td scope="col"><h4>{{delodajalec.kraj}}</h4></td>
                                                    <td scope="col"><h4>{{delodajalec.opis}}</h4></td>
                                                    <td scope="col"><h4>{{delodajalec.delovnoMesto}}</h4></td>
                                                    <td scope="col"><h4>{{delodajalec.izobrazba}}</h4></td>
                                                    <td scope="col"><h4>{{delodajalec.mail}}</h4></td>
                                                    <td scope="col"><h4>{{delodajalec.mobi}}</h4></td>
                                                    <td scope="col"><h4>{{delodajalec.ura}}</h4></td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" 
                                                        v-on:click="deleteDelodajalec(delodajalec.did)">Izbriši podatke</button>
                                                    </td>
                                                    </tr>
                                                    </table> <br><br>


                    
                    <h2 class="card-text text-danger text-center">Oglas lahko oddate z izpolnitvijo spodnjega obraza.</h2><br><br>
                    <form class="row g-3 needs-validation" novalidation>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <span for="validationCustom01" class="input-group-text" id="inputGroup-sizing-default">did</span>
                       </div> <input v-model="delodajalec.did" type="number" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default" id="validationCustom01" required>
                       </div>
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span for="validationCustom02" class="input-group-text" id="inputGroup-sizing-default">ImeDružbe</span>
                   </div> <input v-model="delodajalec.imeDruzbe" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" id="validationCustom02" required>
                   </div>
                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span for="validationCustom03" class="input-group-text" id="inputGroup-sizing-default">Kraj Družbe</span>
                   </div> <input v-model="delodajalec.kraj" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" id="validationCustom03" required>
                   </div>
                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span for="validationCustom04" class="input-group-text" id="inputGroup-sizing-default">Opis dela</span>
                   </div> <input v-model="delodajalec.opis" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" id="validationCustom04" required>
                   </div>
                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span for="validationCustom05" class="input-group-text" id="inputGroup-sizing-default">Delavno mesto</span>
                   </div> <input v-model="delodajalec.delovnoMesto" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" id="validationCustom05" required>
                   </div>
                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span for="validationCustom06" class="input-group-text" id="inputGroup-sizing-default">Potrebna izobrazba</span>
                   </div> <input v-model="delodajalec.izobrazba" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" id="validationCustom06" required>
                   </div>
                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span for="validationCustom07" class="input-group-text" id="inputGroup-sizing-default">Elektronski naslov</span>
                   </div> <input v-model="delodajalec.mail" type="email" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" id="validationCustom07" required>
                   </div>
                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span for="validationCustom08" class="input-group-text" id="inputGroup-sizing-default">Kontaktni telefon</span>
                   </div> <input v-model="delodajalec.mobi" type="tel" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" id="validationCustom08" required>
                   </div>
                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span for="validationCustom09" class="input-group-text" id="inputGroup-sizing-default">Plačilo na uro</span>
                   </div> <input v-model="delodajalec.ura" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" id="validationCustom09" required>
                   </div>
                </form>

                   <button v-on:click="createDelodajalec" class="btn btn-primary" >Oddaj kontaktne podatke</button>&nbsp&nbsp&nbsp
                   <button v-on:click="createDelodajalec" class="btn btn-warning" >Uredi kontaktne podatke</button>
                   <br><br><br><br>

                   </section>
                    <!--Tu se konča DELODAJALEC-->
               
                    
                    <!--Tu se začne oglas

                    <section id="oglas">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Vsebina oglas</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" v-model="oglas.vsebina">
                    </div>

                    <button class="btn btn-primary" v-on:click="createOglas">Oddaj oglas!</button>
                    <br><br><br> 
                     </section>
                    
                     Tu se konča oglas-->
              
    <!--Tu se začne oglas

                    
                    <div v-if="shows.length != 0">
                        <div class="input-group mb-3">
                            <h5>Izberi mesto</h5>
                            <select v-on:click="setSelectedShow" class="form-select" aria-label="Default select example"
                                v-model="showNameForSearch">
                                <option v-for="delodajalec in delodajalci">{{delodajalec.delonoMeso}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br><br><br>
                    <div v-if="roles.length != 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="role in roles">
                                    <td>{{role.idRole}}</td>
                                    <td>{{role.name}}</td>
                                    <td><button class="btn btn-warning" v-on:click="saveRole(role.idRole)">Assign a
                                            role</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </section>-->
            </div>
        </div>
        <!-- Optional JavaScript; choose one of the two! -->
    
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    
        <script src="js/delo.js"></script> 
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    </body>




</html>